* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-container {
  width: 300px;
  height: 400px;
  border: 1px solid #cccc;
  perspective: 1000px;
}

.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transfrom 2s;
  transform-style: preserve-3d;
}

.flip-card-container:hover .flip-card {
  transform: rotateY(540deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.flip-card-front {
  background-color: rgb(3, 46, 83);
  color: black;
}

.flip-card-back {
  background-color: rgb(236, 132, 132);
  color: #000;
  transform: rotateY(540deg);
}
